<div class="row">
  <div class="col-md-4">
    <h4 i18n>{ totalPublicMatches, plural,
      =0 {There are no pending public matches}
      =1 {There is 1 pending public match}
      other { There are {{totalPublicMatches}} pending public matches} }</h4>
  </div>
  <div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/matches/new/public']">Create New Public Match</a>
    </h4>
  </div>
</div>

<div class="row">
  <h3 class="col-md-12">Public Matches</h3>
  <div class="col-md-12">
    <app-public-match-search (onSearchited)="onSearch($event)" [publicMatches]="publicMatches"></app-public-match-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let publicMatch of publicMatches">
      <div class="panel-heading">
        <h5>Public Match: <a routerLink="/matches/{{publicMatch?.id}}">{{publicMatch.id}}</a></h5>
      </div>
      <div class="panel-body">
        <div class="col-md-4">
          <h5>Start Date:</h5>
          <p>{{publicMatch.startDate}}</p>
        </div>
        <div class="col-md-4">
          <h5>Duration estimated:</h5>
          <p>{{publicMatch.duration}}</p>
        </div>
        <div class="col-md-4">
          <h5>Court type:</h5>
          <p>{{publicMatch.courtType}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
