<div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title">Please, confirm deletion:</div>
  </div>
  <div class="panel-body">
    <div class="text-center">
      <button id="confirm" type="button" (click)="deleteJoinMatch()"
              class="btn btn-danger">Leave the game
      </button>
      <button id="cancel" type="button" routerLink="/joinMatches/{{joinMatch?.id}}"
              class="btn btn-primary">Cancel
      </button>
    </div>
  </div>
</div>
