<div class="row">
  <div class="col-md-4">
    <h4 i18n>{ totalCustomMatches, plural,
      =0 {There are no pending custom matches}
      =1 {There is 1 pending custom match}
      other { There are {{totalCustomMatches}} pending custom matches} }</h4>
  </div>
  <div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/customMatches/new']">Create New Custom Match</a>
    </h4>
  </div>
</div>
<div class="row">
  <h3 class="col-md-12">Custom Matches</h3>
  <div class="col-md-12">
    <!--<app-custom-match-search (onSearchited)="onSearch($event)" [customMatches]="customMatches"></app-custom-match-search>-->
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let customMatch of customMatches">
      <div class="panel-heading">
        <h4>CustomMatch: <a routerLink="{{customMatch?.uri}}">{{customMatch?.id}}</a></h4>
        <div class="panel-footer text-center">
          <button id="editCustomMatch" type="button" [routerLink]="['/customMatches/'+customMatch.id+'/edit']"
                  class="btn btn-success">Edit</button>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Start Date:</h4>
          <p>{{customMatch?.startDate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


