<h4>Filter matches by Start Dates</h4>
<h5>Since start date:</h5>
<owl-date-time #startDateFrom></owl-date-time>
<h5>Until start date:</h5>
<owl-date-time #startDateTo></owl-date-time>
<!-- Button -->
<div class="form-group row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <button id="searchByDate" type="submit"
            class="btn btn-success pull-right" (click)="performSearch(startDateFrom.value, startDateTo.value)">Filter
    </button>
  </div>
</div>

<h4>Filter matches by: </h4>

  <button type="button" class="btn btn-default" (click)="filter(filterPublicMatch)"
          [ngStyle]="{'background-color':filterPublicMatch.isFiltered() === true ? '#a6e681' : '#e6e6e6' }">Public Match Only</button>
  <button type="button" class="btn btn-default" (click)="filter(filterPrivateMatch)"
          [ngStyle]="{'background-color':filterPrivateMatch.isFiltered() === true ? '#a6e681' : '#e6e6e6' }">Private Match Only</button>
  <button type="button" class="btn btn-default" (click)="filter(filterCustomMatch)"
          [ngStyle]="{'background-color':filterCustomMatch.isFiltered() === true ? '#a6e681' : '#e6e6e6' }">Custom Match Only</button>


<p i18n>{ matches.length, plural,
  =0 {No matches found}
  =1 {1 match found}
  other { {{matches.length}} matches found} }</p>
