<h4>Filter public matches by Start Dates</h4>
<h5>Since start date:</h5>
<owl-date-time #startDateFrom></owl-date-time>
<h5>Until start date:</h5>
<owl-date-time #startDateTo></owl-date-time>
<!-- Button -->
<div class="form-group row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <button id="searchByDate" type="submit"
            class="btn btn-success pull-right" (click)="performSearch(startDateFrom.value, startDateTo.value)">Filter
    </button>
  </div>
</div>

<p i18n>{ publicMatches.length, plural,
  =0 {No public matches found}
  =1 {1 public match found}
  other { {{publicMatches.length}} public matches found} }</p>
