<div class="panel-group col-md-12 text-center">

<div class="panel panel-default" >
  <div class="panel-heading">

<h1>Custom Match Detail: {{customMatch.id}}</h1>
  </div>
  <div class="panel-body">

    <div class="col-md-4">
      <h5><b>Match Creator:</b></h5>
      <p>{{customMatch.matchCreator.username}}</p>
    </div>

  <div class="col-md-4">
    <h5><b>Duration estimated:</b></h5>
  <p>{{customMatch.duration}}</p>
</div>
<div class="col-md-4">
  <h5><b>Court type:</b></h5>
  <p>{{customMatch.courtType}}</p>
</div>
  <div class="col-md-4">
    <h5><b>Start Date:</b></h5>
    <p>{{customMatch.startDate}}</p>
  </div>
  </div>
</div>
</div>


