<div class="panel-group col-md-12 text-center">

<div class="panel panel-default" >
  <div class="panel-heading">

<h1>Custom Match Detail: {{customMatch.id}}</h1>
  </div>
  <div class="panel-body">

    <div class="col-md-6">
      <h5><b>Match Creator:</b></h5>
      <p><a routerLink="{{matchCreator?.uri}}" >{{matchCreator?.username}}</a></p>
    </div>

  <div class="col-md-6">
    <h5><b>Duration estimated:</b></h5>
  <p>{{customMatch.duration}}</p>
</div>
<div class="col-md-6">
  <h5><b>Court type:</b></h5>
  <p>{{customMatch.courtType}}</p>
</div>
  <div class="col-md-6">
    <h5><b>Start Date:</b></h5>
    <p>{{customMatch.startDate}}</p>
  </div>
  </div>
</div>
</div>
<div class="panel-footer text-center">
  <button id="customMatchList" type="button" [routerLink]="['/customMatches']"
          class="btn btn-primary">Back to List</button>
  <button id="editCustomMatch" type="button" [routerLink]="['edit']"
          class="btn btn-success">Edit</button>
  <form id="match-join-request-form" [formGroup]="matchJoinRequestForm" (ngSubmit)="createMatchJoinRequest()">
    <fieldset>

    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <span *ngIf="isLoggedIn()&&!(getCurrentUser().username==matchCreator?.username)">
        <button id="createMatchJoinRequest" type="submit"
                class="btn btn-success pull-right">Create MatchJoinRequest
        </button>
          </span>

      </div>
    </div>
    </fieldset>

  </form>
  <div class="col-md-9">
        <span *ngIf="isLoggedIn()&&getCurrentUser().username==matchCreator?.username">
        <button id="listMatchJoinRequest" type="submit"
                class="btn btn-success pull-right">List MatchJoinRequests
        </button>
          </span>

  </div>
</div>


