<div class="row">
  <div class="col-md-4">
    <h4 i18n>{ totalReservations, plural,
      =0 {There are no registered reservations}
      =1 {There is 1 registered reservations}
      other { There are {{totalReservations}} registered reservations} }</h4>
  </div>
  <div class="col-md-8">
    <h4>
      <a class="btn btn-primary" role="button"
         [routerLink]="['/reservations/new']">Make a new Reservation</a>
    </h4>
  </div>
</div>

<div class="row">
  <h3 class="col-md-12">Reservations</h3>
  <div class="col-md-12">
    <app-reservation-search (onSearchited)="onSearch($event)" [reservations]="reservations"></app-reservation-search>
  </div>
</div>


<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let reservation of reservations">
      <div class="panel-heading">
        <h4>Reservations: <a routerLink="{{reservation.uri}}">{{reservation.id}}</a></h4>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>StartDate:</h4>
          <p>{{reservation.startDate}}</p>
        </div>
        <div class="col-md-6">
          <h4>Duration:</h4>
          <p>{{reservation.duration}}</p>
        </div>
        <div class="col-md-6">
          <h4>CourtType:</h4>
          <p>{{reservation.courtType}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
