<h4>Filter custom matches by start date</h4>

<h5>From:</h5>
<owl-date-time #startDateFrom></owl-date-time>
<h5>To:</h5>
<owl-date-time #startDateTo></owl-date-time>
<!-- Button -->
<div class="form-group row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <button id="searchByDate" type="submit"
            class="btn btn-success pull-right" (click)="performSearch(startDateFrom.value, startDateTo.value)">Filter
    </button>
  </div>
</div>

<p i18n>{ customMatches.length, plural,
  =0 {No custom matches found}
  =1 {1 custom match found}
  other { {{customMatches.length}} custom matches found} }</p>
