<div class="panel panel-primary">
  <div class="panel-heading">
    <div>Reservation ID: {{ reservation?.id}}</div>
  </div>
  <div class="panel-body">
    <div class="col-md-4">
      <h5>StartDate:</h5>
      <p>{{reservation?.startDate}}</p>
    </div>
    <div class="col-md-4">
      <h5>CourtType:</h5>
      <p>{{reservation?.courtType}}</p>
    </div>
    <div class="col-md-4">
      <h5>Duration</h5>
      <p>{{reservation.duration}}</p>
    </div>
  </div>

  <div class="panel-footer text-center">
    <button id="reservationList" type="button" [routerLink]="['/reservations']"
            class="btn btn-primary">Back to List</button>
    <button id="editReservation" type="button" [routerLink]="['edit']"
            class="btn btn-success">Edit</button>
    <button id="deleteReservation" type="button" [routerLink]="['delete']"
            class="btn btn-danger">Delete</button>
  </div>
</div>
