<div class="panel panel-primary">
  <div class="panel-heading">
    <div>{{admin.username}}</div>
  </div>
  <div class="panel-body">
    <div class="col-md-4">
      <h5>Username:</h5>
      <p>{{admin.username}}</p>
    </div>
    <div class="col-md-4">
      <h5>E-Mail:</h5>
      <p><a href="mailto:{{admin.email}}">{{admin.email}}</a></p>
    </div>
    <div class="col-md-4">
      <h5>Role:</h5>
      <p>{{admin.authorities[0]?.authority}}</p>
    </div>
  </div>
  <div class="panel-footer text-center">
    <button id="adminsList" type="button" [routerLink]="['/admins']"
            class="btn btn-primary">Back to List</button>
    <button id="editAdmin" type="button" [routerLink]="['edit']"
            class="btn btn-success">Edit</button>
    <button id="deleteAdmin" type="button" [routerLink]="['delete']"
            class="btn btn-danger">Delete</button>
  </div>
</div>
