<h2>Edit publicMatch</h2>
<form id="public-match-form" [formGroup]="publicMatchForm" (ngSubmit)="onSubmit()">
  <fieldset>

    <!-- Duration input-->
    <div class="form-group row" [class.has-error]="publicMatchForm.controls['duration'].touched &&
                  publicMatchForm.controls['duration'].hasError('required')">
      <label class="col-md-3 control-label" for="duration">Match duration*</label>
      <select name="duration" [(ngModel)]="publicMatch.duration" [formControl]="publicMatchForm.controls['duration']" id="duration" class="form-control input-md">
        <option value="PT30M">30 minutes</option>
        <option value="PT60M">1 hour</option>
        <option value="PT90M">1 hour and 30 minutes</option>
      </select>
      <div class="col-md-9">
        <div *ngIf="publicMatchForm.controls['duration'].touched &&
                    publicMatchForm.controls['duration'].hasError('required')" class="label-warning">
          A duration between 30 and 120 minutes is required!
        </div>
      </div>
    </div>

    <!-- Court type input-->
    <div class="form-group row" [class.has-error]="publicMatchForm.controls['courtType'].touched &&
                  publicMatchForm.controls['courtType'].hasError('required')">
      <label class="col-md-3 control-label" for="CourtType">Match CourtType*</label>
      <select name="courtType" [(ngModel)]="publicMatch.courtType" [formControl]="publicMatchForm.controls['courtType']" id="courtType" class="form-control input-md">
        <option value="INDOOR">Indoor</option>
        <option value="OUTDOOR">Outdoor</option>
        <option value="UNDEFINED">Do not care</option>
      </select>
      <div class="col-md-9">
        <div *ngIf="publicMatchForm.controls['courtType'].touched &&
                    publicMatchForm.controls['courtType'].hasError('required')" class="label-warning">
          A court type selection is required!
        </div>
      </div>
    </div>

    <!-- PublicMatch level input-->
    <div class="form-group row" [class.has-error]="publicMatchForm.controls['level'].touched &&
                  publicMatchForm.controls['level'].hasError('required')">
      <label class="col-md-3 control-label" for="level">Match level*</label>
      <select name="level" [(ngModel)]="publicMatch.level" [formControl]="publicMatchForm.controls['level']" id="level" class="form-control input-md">
        <option value="NOVICE">Novice</option>
        <option value="BEGINNER">Beginner</option>
        <option value="INTERMEDIATE">Intermediate</option>
        <option value="ADVANCED">Advanced</option>
        <option value="BRUTAL">Expert</option>
      </select>
      <div class="col-md-9">
        <div *ngIf="publicMatchForm.controls['level'].touched &&
                    publicMatchForm.controls['level'].hasError('required')" class="label-warning">
          A level selection is required!
        </div>
      </div>
    </div>

    <!-- Start date input-->
    <div class="form-group row" [class.has-error]="publicMatchForm.controls['startDate'].touched &&
                  publicMatchForm.controls['startDate'].hasError('required')">
      <label class="col-md-3 control-label" for="StartDate">Match StartDate*</label>
      <owl-date-time id="startDate" [(ngModel)]="publicMatch.startDate" [formControl]="publicMatchForm.controls['startDate']"></owl-date-time>
      <div class="col-md-9">
        <div *ngIf="publicMatchForm.controls['startDate'].touched &&
                    publicMatchForm.controls['startDate'].hasError('required')" class="label-warning">
          A starting date is required!
        </div>
      </div>
    </div>

    <div *ngIf="errorMessage" class="form-group row">
      <div class="col-md-3"></div>
      <div class="label-danger col-md-9">{{ errorMessage }}</div>
    </div>

    <!-- Button -->
    <div class="form-group row">
      <div class="col-md-3"></div>
      <div class="col-md-9">
        <button id="createPublicMatch" type="submit"
                class="btn btn-success pull-right" [disabled]="!publicMatchForm.valid">Edit
        </button>
      </div>
    </div>

  </fieldset>
</form>
