<div class="row">
  <div class="col-md-4">
    <h4 i18n>{ totalMatches, plural,
      =0 {There are no pending matches}
      =1 {There is 1 pending match}
      other { There are {{matches?.length}} pending matches} }</h4>
  </div>

    <div class="col-md-8">
      <button routerLink="/matches/new/public">Create Public Match</button>
      <button routerLink="/matches/new/private">Create Private Match</button>
      <button routerLink="/matches/new/custom">Create Custom Match</button>
    </div>
</div>

<div class="row">
  <h3 class="col-md-12">Matches</h3>
  <div class="col-md-12">
    <app-match-search (onSearchited)="onSearch($event)" [matches]="matches"></app-match-search>
  </div>
</div>

<div class="row">
  <div class="panel-group col-md-12">
    <div class="panel panel-default" *ngFor="let match of matches">
      <div class="panel-heading">
        <h5>Match: <a routerLink="/matches/{{match?.id}}">{{match.id}}</a></h5>
      </div>
      <div class="panel-body">
        <div class="col-md-3">
          <h5>Start Date:</h5>
          <p>{{match.startDate}}</p>
        </div>
        <div class="col-md-3">
          <h5>Duration estimated:</h5>
          <p>{{match.duration}}</p>
        </div>
        <div class="col-md-3">
          <h5>Court type:</h5>
          <p>{{match.courtType}}</p>
        </div>
        <div class="col-md-3">
          <h5>Match type:</h5>
          <span *ngIf="match != null && match?._links.publicMatch != null">
            Public Match
          </span>
          <span *ngIf="match != null && match?._links.privateMatch != null">
            Private Match
          </span>
          <span *ngIf="match != null && match?._links.customMatch != null">
            Custom Match
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
